# --- Mac OS files ---
# metadata file for Mac OS
.DS_Store

# --- Gradle files ---
.gradle/
build/
gradle.properties
# do not ignore Gradle wrapper jar file
!gradle/wrapper/gradle-wrapper.jar
# do not ignore build directories under src/main and src/test
!**/src/main/**/build/
!**/src/test/**/build/

# --- IntelliJ IDEA files ---
*.iws
*.iml
*.ipr
.idea/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
# do not ignore output directories under src/main and src/test
!**/src/main/**/out/
!**/src/test/**/out/

# --- Eclipse files ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
# do not ignore bin directories under src/main and src/test
!**/src/main/**/bin/
!**/src/test/**/bin/

# --- NetBeans files ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- VS Code files ---
.vscode/

.sonarlint/

# Created by https://www.gitignore.io/api/intellij